<footer class="cs-footer cs-footer--full">
  <div class="container padd-only-xs">
    <div class="row cs-footer__align cs-footer__align--full">
      <div class="col-md-3 col-sm-6">
        <div class="cs-footer__copyright">
          <h4>Caspian Touch LTD</h4>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">FIND US</h6>
        <div class="textwidget">
          <p>
            277 St George St, Unit 508, <br> Toronto, Ontario, Canada. M5R 2R1
          </p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">LET’S TALK</h6>
        <div class="textwidget">
          <p>
            <a href="mailto:info@caspiantouch.ca">info@caspiantouch.ca</a>
            <br />
            <a href="tel:4169539988">
              +(416) 953 99 88
            </a>
          </p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_subscribe">
        <h6 class="widget__title">FOLLOW US</h6>
        <div class="widget_subscribe">
          <div class="widget_subscribe__description"></div>
          <ul class="widget_subscribe__social">
            <li><a target="_blank" href="index.html#" class="fa fa-facebook"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>