<footer class="cs-footer cs-footer--full">
  <div class="container padd-only-xs">
    <div class="row cs-footer__align cs-footer__align--full">
      <div class="col-md-3 col-sm-6">
        <div class="cs-footer__copyright">
          <h4>MIA COCA,<br />
            YOUR DESIGN STUDIO</h4>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">FIND US</h6>
        <div class="textwidget">
          <p>2451 N. McMullen Booth Road, #256<br />
            Clearwater, FL 33759</p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">LET’S TALK</h6>
        <div class="textwidget">
          <p><a href="http://w.themedemo.co/cdn-cgi/l/email-protection#7c1f131f1d3c15121a13521f1311"><span
                class="__cf_email__" data-cfemail="e88b878b89a881868e87c68b8785"><span class="__cf_email__"
                  data-cfemail="d7b4b8b4b697beb9b1b8f9b4b8ba">[email&#160;protected]</span></span></a><br />
            <a href="tel:+45(0)479253798">+45 (0)4 79 25 37 98</a></p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_subscribe">
        <h6 class="widget__title">FOLLOW US</h6>
        <div class="widget_subscribe">
          <div class="widget_subscribe__description"></div>
          <ul class="widget_subscribe__social">
            <li><a target="_blank" href="index.html#" class="fa fa-facebook"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-twitter"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-pinterest-p"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-instagram"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-dribbble"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-google-plus"></a></li>
            <li><a target="_blank" href="index.html#" class="fa fa-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>