<footer class="cs-footer cs-footer--full">
  <div class="container padd-only-xs">
    <div class="row cs-footer__align cs-footer__align--full">
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">Caspian Touch LTD</h6>
        <div class="textwidget">
          <p>
            © Copyright 2019. <br>
            All Rights Reserved.
          </p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">FIND US</h6>
        <div class="textwidget">
          <p>
            277 St George St, Unit 508, <br> Toronto, Ontario, Canada. M5R 2R1
          </p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_text">
        <h6 class="widget__title">LET’S TALK</h6>
        <div class="textwidget">
          <p>
            <a href="mailto:info@caspiantouch.ca">info@caspiantouch.ca</a>
            <br />
            <a href="tel:0014169539988">
              +1(416)-953-99-88
            </a>
          </p>
        </div>
      </div>
      <div class="widget widget--footer col-md-3 col-sm-6 widget_subscribe">
        <h6 class="widget__title">FOLLOW US</h6>
        <div class="widget_subscribe">
          <div class="widget_subscribe__description"></div>
          <ul class="widget_subscribe__social">
            <li class="cs-socials__item">
              <a target="_blank" class="fa fa-whatsapp" rel="noopener noreferrer" title="WhatsApp"
                href="https://api.whatsapp.com/send?phone=0014169539988">
              </a>
            </li>
            <li class="cs-socials__item">
              <a target="_blank" class="fa fa-facebook" rel="noopener noreferrer" title="Facebook"
                href="https://www.facebook.com/caspiantouchltd/">
              </a>
            </li>
            <li class="cs-socials__item">
              <a target="_blank" class="fa fa-instagram" rel="noopener noreferrer" title="Instagram"
                href="https://www.instagram.com/caspiantouchltd/">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>