<header class="cs-header js-header  js-sticky-container cs-header--fixed">
  <div class="cs-header__wrapp js-header-height  js-sticky-header">
    <div class="cs-header__content-wr">
      <div class="cs-logo cs-logo--header">
        <a class="cs-logo__link" href="index.html">
          <img src="./img/logo-black.png" srcset="./img/logo-black.png 1x,./img/logo-black@2x.png 2x" class="image_logo"
            alt="">
        </a>
        <a class="cs-logo__link cs-logo__link--light" href="index.html">
          <img src="./img/logo-white.png" srcset="./img/logo-white.png 1x,./img/logo-white@2x.png 2x" class="image_logo"
            alt="">
        </a>
      </div>
      <div class="cs-header__nav js-header-nav">
        <div class="cs-header__inner">
          <nav>
            <ul class="main-menu">
              <li class="menu-item current-menu-ancestor"><a href="index.html#">Home</a>
                <ul class="sub-menu">
                  <li class="menu-item current-menu-item"><a href="index.html" aria-current="page">OnePage Home</a></li>
                  <li class="menu-item"><a href="minimalist-home.html">Minimalist Home</a></li>
                  <li class="menu-item"><a href="creative-home.html">Creative Home</a></li>
                  <li class="menu-item"><a href="work-film-strip.html">Film Strip</a></li>
                  <li class="menu-item"><a href="work-category-list.html">Category List</a></li>
                  <li class="menu-item"><a href="work-timeline-images.html">Timeline Projects</a></li>
                  <li class="menu-item"><a href="work-timeline-list.html">Timeline List</a></li>
                  <li class="menu-item"><a href="revolution-slider.html">Revolution Slider</a></li>
                  <li class="menu-item"><a href="parallax-presentation.html">Parallax Presentation</a></li>
                  <li class="menu-item"><a href="parallax-with-text.html">Parallax With Text</a></li>
                  <li class="menu-item"><a href="simple.html">Simple</a></li>
                  <li class="menu-item"><a href="splitted-screen.html">Splitted Screen</a></li>
                  <li class="menu-item"><a href="splitted-creative-banner.html">Splitted Creative Banner</a></li>
                  <li class="menu-item"><a href="columns-gallery.html">Columns Gallery</a></li>
                  <li class="menu-item"><a href="before-after.html">Before &#038; After</a></li>
                  <li class="menu-item"><a href="slider.html">Slider</a></li>
                  <li class="menu-item"><a href="fullscreen-slider.html">Fullscreen Slider</a></li>
                  <li class="menu-item"><a href="video-background.html">Video Background</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="index.html#">Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="index.html#">About</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="about-me.html">About Me</a></li>
                      <li class="menu-item"><a href="about-us.html">About Us</a></li>
                      <li class="menu-item"><a href="work-process.html">Work Process</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a href="services.html">Services</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="planning.html">Services Details</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a href="bibliography.html">Bibliography</a></li>
                  <li class="menu-item"><a href="people.html">People</a></li>
                  <li class="menu-item"><a href="media.html">Media</a></li>
                  <li class="menu-item"><a href="exhibition.html">Exhibition</a></li>
                  <li class="menu-item"><a href="clients.html">Clients</a></li>
                  <li class="menu-item"><a href="index.html#">Pricing</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="pricing-simple.html">Pricing Simple</a></li>
                      <li class="menu-item"><a href="pricing-image.html">Pricing Image</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a href="index.html#">Contact</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="contact-me.html">Contact Me</a></li>
                      <li class="menu-item"><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a href="index.html#">Other Pages</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                      <li class="menu-item"><a href="protected-page.html">Protected Page</a></li>
                      <li class="menu-item"><a href="404.html">Error Page</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item"><a href="index.html#">Projects</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="work-grid.html">Work Grid</a></li>
                  <li class="menu-item"><a href="work-masonry.html">Work Masonry</a></li>
                  <li class="menu-item"><a href="work-film-strip.html">Work Film Strip</a></li>
                  <li class="menu-item"><a href="work-category-list.html">Work Category List</a></li>
                  <li class="menu-item"><a href="work-timeline-list.html">Work Timeline List</a></li>
                  <li class="menu-item"><a href="work-timeline-images.html">Work Timeline Images</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="index.html#">Projects Details</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="appartments.html">Parallax Presentation</a></li>
                  <li class="menu-item"><a href="matris-camp.html">Parallax With Text</a></li>
                  <li class="menu-item"><a href="alveus-kitchens.html">Simple</a></li>
                  <li class="menu-item"><a href="creative-lab.html">Splitted Screen</a></li>
                  <li class="menu-item"><a href="mountain-house.html">Splitted Creative Banner</a></li>
                  <li class="menu-item"><a href="tycoon-office-interior-design.html">Columns Gallery</a></li>
                  <li class="menu-item"><a href="alto-furniture.html">Before &#038; After</a></li>
                  <li class="menu-item"><a href="alto-furniture-2.html">Slider</a></li>
                  <li class="menu-item"><a href="vilters.html">Fullscreen Slider</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="index.html#">Shop</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="shop.html">Products</a></li>
                  <li class="menu-item"><a href="soft-chair.html">Product Details</a></li>
                  <li class="menu-item"><a href="cart.html">Cart</a></li>
                  <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="index.html#">Blog</a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="blog.html">Blog Grid</a></li>
                  <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
                  <li class="menu-item"><a href="time-inc-architectura.html">Blog Details</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="cs-header__socials">
            <ul class="cs-socials cs-socials--nav-menu">
              <li class="cs-socials__item">
                <a target="_blank" href="index.html#">
                  <i aria-hidden="true" class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="cs-socials__item">
                <a target="_blank" href="index.html#">
                  <i aria-hidden="true" class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="cs-socials__item">
                <a target="_blank" href="index.html#">
                  <i aria-hidden="true" class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="cs-socials__item">
                <a target="_blank" href="index.html#">
                  <i aria-hidden="true" class="fa fa-pinterest-p"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cs-header__nav-btn">
        <ul class="cs-socials cs-socials--menu">
          <li class="cs-socials__item">
            <a target="_blank" href="index.html#">
              <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="cs-socials__item">
            <a target="_blank" href="index.html#">
              <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="cs-socials__item">
            <a target="_blank" href="index.html#">
              <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="cs-socials__item">
            <a target="_blank" href="index.html#">
              <i aria-hidden="true" class="fa fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
        <!-- mobile icon -->
        <div class="cs-nav-menu js-menu-block">
          <div class="cs-nav-menu__label">
            <span class="cs-nav-menu__text cs-nav-menu__text--open js-menu-btn-txt">
              Open </span>
            <span class="cs-nav-menu__text cs-nav-menu__text--close js-menu-btn-txt">
              Close </span>
          </div>
          <a class="cs-nav-menu__icon js-menu-btn" href="index.html#">
            <i></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>