<header class="cs-header js-header  js-sticky-container cs-header--fixed">
  <div class="cs-header__wrapp js-header-height  js-sticky-header">
    <div class="cs-header__content-wr">
      <div class="cs-logo cs-logo--header">
        <a class="cs-logo__link" href="index.html">
          <img class="header-logo" src="./img/logo.svg" alt="Caspian Touch LTD - Logo">
        </a>
        <a class="cs-logo__link cs-logo__link--light" href="index.html">
          <img class="header-logo" src="./img/logo.svg" alt="Caspian Touch LTD - Logo">
        </a>
      </div>
      <div class="cs-header__nav js-header-nav">
        <div class="cs-header__inner">
          <nav>
            <ul class="main-menu">
              <li class="menu-item"><a href="index.html#">Home</a></li>
              <li class="menu-item"><a href="index.html#">About Us</a></li>
              <li class="menu-item"><a href="index.html#">What We Do</a></li>
              <li class="menu-item"><a href="index.html#">Portfolio</a></li>
              <li class="menu-item"><a href="index.html#">Testimonials</a></li>
              <li class="menu-item"><a href="index.html#">Contact Us</a></li>
            </ul>
          </nav>
          <div class="cs-header__socials">
            <ul class="cs-socials cs-socials--nav-menu">
              <li class="cs-socials__item">
                <a target="_blank" rel="noopener noreferrer" title="WhatsApp"
                  href="https://api.whatsapp.com/send?phone=0014169539988">
                  <i aria-hidden="true" class="fa fa-whatsapp"></i>
                </a>
              </li>
              <li class="cs-socials__item">
                <a target="_blank" rel="noopener noreferrer" title="Facebook"
                  href="https://www.facebook.com/caspiantouchltd/">
                  <i aria-hidden="true" class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="cs-socials__item">
                <a target="_blank" rel="noopener noreferrer" title="Instagram"
                  href="https://www.instagram.com/caspiantouchltd/">
                  <i aria-hidden="true" class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cs-header__nav-btn">
        <ul class="cs-socials cs-socials--menu">
          <li class="cs-socials__item">
            <a target="_blank" rel="noopener noreferrer" title="WhatsApp"
              href="https://api.whatsapp.com/send?phone=0014169539988">
              <i aria-hidden="true" class="fa fa-whatsapp"></i>
            </a>
          </li>
          <li class="cs-socials__item">
            <a target="_blank" rel="noopener noreferrer" title="Facebook"
              href="https://www.facebook.com/caspiantouchltd/">
              <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="cs-socials__item">
            <a target="_blank" rel="noopener noreferrer" title="Instagram"
              href="https://www.instagram.com/caspiantouchltd/">
              <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
        <!-- mobile icon -->
        <div class="cs-nav-menu js-menu-block">
          <div class="cs-nav-menu__label">
            <span class="cs-nav-menu__text cs-nav-menu__text--open js-menu-btn-txt">
              Open </span>
            <span class="cs-nav-menu__text cs-nav-menu__text--close js-menu-btn-txt">
              Close </span>
          </div>
          <a class="cs-nav-menu__icon js-menu-btn" href="index.html#">
            <i></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>