<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="UTF-8" />
  <title>Caspian Touch LTD</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!--  Perfecting, Preloading -->
  <link rel="preconnect" href="https://fonts.gstatic.com/" />
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/" />
  <link rel="preload"
    href="https://fonts.googleapis.com/css?family=Neuton:400,700|PT+Serif|Roboto:300,400,500,700|Ubuntu:300&display=swap"
    as="style" />
  <link rel="prefetch"
    href="https://fonts.googleapis.com/css?family=Neuton:400,700|PT+Serif|Roboto:300,400,500,700|Ubuntu:300&display=swap"
    as="style" />
  <!--  Some SEO Tags -->
  <link rel="index" href="https://caspiantouch.ca/" />
  <link rel="canonical" href="https://caspiantouch.ca/" />
  <meta name="description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
  <!--  Facebook (Open Graph)  -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Caspian Touch LTD" />
  <meta property="og:site_name" content="Caspian Touch LTD" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="https://caspiantouch.ca/" />
  <meta property="og:see_also" content="R2D2" />
  <meta property="og:description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
  <!--  Google  -->
  <meta itemprop="name" content="Caspian Touch LTD" />
  <meta itemprop="image" content="" />
  <meta itemprop="description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
  <!--  Twitter  -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Caspian Touch LTD" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="https://caspiantouch.ca/" />
  <meta name="twitter:description" content="Starter pack for automating tasks in everyday front-end development. 🤖" />
  <!--  Installation credentials for the Website -->
  <!--  Add to homescreen for Chrome on Android -->
  <meta name="application-name" content="Caspian Touch LTD" />
  <meta name="theme-color" content="#fff" />
  <!-- <link rel="manifest" href="./manifest.json" /> -->
  <meta name="mobile-web-app-capable" content="yes" />
  <!--  Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-title" content="Caspian Touch LTD" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!--  Microsoft Windows Tiles -->
  <meta name="msapplication-starturl" content="https://caspiantouch.ca/" />
  <meta name="msapplication-TileColor" content="#fff" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="msapplication-TileImage" content="144x144" />
  <meta name="msapplication-config" content="./browserconfig.xml" />
  <!--  Favicons -->
  <!-- <link rel="icon" href="" sizes="any" type="image/svg+xml" /> -->
  <!--  Fonts -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Neuton:400,700|PT+Serif|Roboto:300,400,500,700|Ubuntu:300&display=swap" />
  <!--  Style Sheets -->
  <link rel="stylesheet" href="css/main.min.css" />
</head>

<body class="home page-template-default page page-id-3946">
  <!--[if IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
    </p>
  <![endif]-->
  <div class="cs-loader js-loader">
    <div class="cs-loader__scale">
      <div class="cs-loader__bg">
        <div class="cs-loader__progress js-loader-progress">
          <div class="cs-loader__logo cs-loader__logo--img cs-loader__logo--light js-loader-logo">
            Caspian Touch LTD
          </div>
        </div>
        <div class="cs-loader__logo">
          Caspian Touch LTD
        </div>
      </div>
    </div>
  </div>
  <main class="cs-main-wrapp">
    <div class="cs-top-header js-top-header">
      <div class="cs-top-header__content-wr">
        <ul class="cs-top-header__links">
          <li class="cs-top-header__links-item"><a href="#contact">FAQ</a></li>
          <li class="cs-top-header__links-item"><a href="#contact">Request Service</a></li>
          <li class="cs-top-header__links-item"><a href="tel:4169539988">+(416) 953 99 88</a></li>
        </ul>
        <div class="cs-top-header__desc">
          <p>
            MON - FRI: 08:00 - 05:00 PM
          </p>
        </div>
      </div>
    </div>
    //= ../components/header.html